services:
  client:
    image: noauth-client
    build:
      context: .
      target: client
    ports:
      - '3000:80'
    depends_on:
      - server
    environment:
      WEB_PUSH_PUBKEY: ${WEB_PUSH_PUBKEY}
      NOAUTHD_URL: ${NOAUTHD_URL}
      DOMAIN: ${DOMAIN}
      ADMIN_DOMAIN: ${ADMIN_DOMAIN}
      RELAY: ${RELAY}
      NSEC_APP_NPUB: ${NSEC_APP_NPUB}
      ENCLAVE_LAUNCHER_PUBKEYS: ${ENCLAVE_LAUNCHER_PUBKEYS}
      ENCLAVE_DEBUG: ${ENCLAVE_DEBUG}
      HOSTED: ${HOSTED}

  server:
    image: noauth-server
    build:
      context: .
      target: server
    volumes:
      - db-data:/usr/src/app/prisma
    ports:
      - '8080:8080'
    environment:
      SERVER_APP_NOAUTHD_URL: ${SERVER_APP_NOAUTHD_URL}
      SERVER_APP_DOMAIN: ${SERVER_APP_DOMAIN}
      SERVER_APP_RELAY: ${SERVER_APP_RELAY}
      SERVER_APP_NSEC_APP_NPUB: ${SERVER_APP_NSEC_APP_NPUB}
      SERVER_APP_ORIGIN: ${SERVER_APP_ORIGIN}
      SERVER_APP_PORT: ${SERVER_APP_PORT}

volumes:
  db-data:
    driver: local
